<%- include('partials/header.ejs') %>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Raça</th>
        <th scope="col">Etiqueta</th>
        <th scope="col">Idade (Meses) </th>
        <th scope="col">Sexo</th>
        <th scope="col">Coleira</th>
        <th scope="col" style="padding-left: 25px;">Editar</th>
        <th scope="col" style="padding-right: 25px;">Excluir</th>
      </tr>
    </thead>
    <tbody>
        
      <tr>
        <th scope="row">1</th>
        <td>Capim</td>
        <td>Mediterrânea</td>
        <td>#9122</td>
        <td>21</td>
        <td>Macho</td>
        <td>Ativa</td>
        <td><button type="button" class="btn btn-success">Editar</button></td>
        <td><button type="button" class="btn btn-danger">Excluir</button></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Capim</td>
        <td>Mediterrânea</td>
        <td>#9122</td>
        <td>21</td>
        <td>Macho</td>
        <td>Ativa</td>
        <td><button type="button" class="btn btn-success">Editar</button></td>
        <td><button type="button" class="btn btn-danger">Excluir</button></td>
      </tr>

    </tbody>
  </table>

<%- include('partials/footer.ejs') %>